<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<br>
<br>
<div class="container">
    <div class="row">
        <div class="text-center">
            <form method="POST" action="/upload" enctype="multipart/form-data">
                <div class="form-group mt-3">
                    <label for="file">Select a CSV file</label>
                    <input type="file" name="file" class="form-control-file" id="file" accept=".csv">
                </div>
                <button type="submit" class="btn btn-success">Transform</button>
            </form>
            <br>
            <br>
            <a href="/download" th:text="${datalink}"></a>
<!--            <a href="../../../../newjava.txt" download="newjava.txt">Click to download</a>-->
        </div>
    </div>
</div>

</body>
</html>