<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<br>
<br>
<div class="container">
    <div class="row">
        <div class="text-center">
            <form method="POST" action="/upload" enctype="multipart/form-data">
                <div class="form-group mt-3">
                    <label for="file">Select a CSV file</label>
                    <input type="file" name="file" class="form-control-file" id="file" accept=".csv">
                </div>
                <br>
                <button type="submit" class="btn btn-success">Transform to text file</button>
            </form>
            <br>
            <br>
            <form method="post" action="/download" >
                <div th:if="${datalink}">
                    Click on the button to download
                    <button type="submit" th:text="${datalink}" th:field="*{datalink}" th:value="${datalink}" name="datalink"></button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>